main .profilePhoto{
    width: 100%;
    display: flex;
    justify-content: center;
}

main .profilePhoto .content{
    margin-top: 10vh;
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 7vh;
}

main .profilePhoto .content .back{
    width: 100%;
    display: flex;
    column-gap: 5vh;
    justify-content: flex-start;
    align-items: center;
}

main .profilePhoto .content .back button{
    width: fit-content;
    padding-left: 1vh;
    cursor: pointer;
    background: transparent;
    color: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    border: none;
    filter: drop-shadow(0px 7px 4px var(--pink-25));
    transition: 0.3s ease-out;
}

main .profilePhoto .content .back button:hover{
    color: var(--dark-pink);
    filter: drop-shadow(0px 7px 4px var(--dark-pink-25));
}

main .profilePhoto .content .back button:hover{
    color: var(--dark-pink);
    filter: drop-shadow(0px 7px 4px var(--dark-pink-25));
}

main .profilePhoto .content .photos{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    row-gap: 3vh;
    justify-content: center;
    align-items: center;
}

main .profilePhoto .content .photos .card-photo{
    width: 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main .profilePhoto .content .photos .card-photo  img{
    cursor: pointer;
    width: 15vw;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 200px;
    filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.1));
    transition: 0.5s ease-in-out;
}

main .profilePhoto .content .photos .card-photo img:hover{
    transform: scale(1.1);
    border-color: var(--pink);
    filter: drop-shadow(0px 15px 15px var(--pink-25));

}


main .profilePhoto .content .photos .card-photo h3{
    color: var(--dark-pink);
    font-family: 'Arvo';
    font-weight: 700;
    text-shadow: 0px 4px 4px var(--dark-pink-25);
    font-size: 1.5vw;
    -webkit-text-stroke: 0.5px var(--dark-pink);
}
