@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Sofia&display=swap');

:root{
    --pink: #FF5E81;
    --light-pink: #ffc4d1;
    --pink-50: rgba(255, 94, 129, 0.5);
    --pink-25: rgba(255, 94, 129, 0.25);
    --pink-10: rgba(255, 94, 129, 0.1);
    --background: #F5EDF0;
    --background-header: #FCFAFB;
    --dark-pink: #703D57;
    --dark-pink-90: rgba(112, 61, 87, 0.9);
    --dark-pink-70: rgba(112, 61, 87, 0.7);
    --dark-pink-65: rgba(112, 61, 87, 0.65);
    --dark-pink-50: rgba(112, 61, 87, 0.5);
    --dark-pink-25: rgba(112, 61, 87, 0.25);
    --dark-pink-15: rgba(112, 61, 87, 0.15);
    --text-info: rgba(0, 0, 0, 0.5);
    --text-button: #fff;
}

*{
    font-family: 'Sofia';
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
}

body::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}

body::-webkit-scrollbar-thumb{
    background: var(--pink);
    border: none;
    border-radius:10vh;
}

body::-webkit-scrollbar-track{
    background-color: var(--dark-pink-25);
}

header{
    width: 20%;
    height: 100%;
}

header nav{
    position: fixed;
    background-color: var(--background-header);
    float: left;
    width: 18vw;
    height: 100%;
    display: flex;
    padding-top: 7vh;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
}

header nav h4, header nav a, header nav i{
    font-family: 'Poppins';
    font-weight: 500;
    transition: 0.3s linear;
}

header nav .logo{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 7px 4px var(--pink-25));
}

header nav .logo img{
    width: 12.5vw;
}

header nav .profile, header nav .profile-now{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .profile a, header nav .profile-now a{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--dark-pink-70);
    font-size: 0.9vw;
}

header nav .profile a img, header nav .profile-now a img{
    width: 2.5vw;
    border-radius: 5vw;
    border: 2px solid;
    filter: drop-shadow(0px 0px 4px var(--dark-pink-25));
    transition: 0.5s ease-in-out;
}

header nav .profile  a:hover i, header nav .profile-now a i{
    color: var(--dark-pink);
}


header nav .profile a:hover h4, header nav .profile-now a .now{
    font-weight: 600;
    color: var(--dark-pink);
}

header nav .profile a:hover img, header nav .profile-now a img{
    border-width: 2.5px;
    border-color: var(--dark-pink);
}

header nav .list-navegation{
    margin-top: 1vh;
    width: 85%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

header nav .list-navegation .list-item, header nav .list-navegation .list-item-now{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-y: hidden;
}

header nav .list-navegation .list-item a, header nav .list-navegation .list-item-now a, header nav .list-navegation .list-item span{
    cursor: pointer;
    width: 65%;
    display: flex;
    column-gap: 3vh;
    align-items: center;
    color: var(--dark-pink-70);
    font-size: 0.85vw;
}

header nav .list-navegation .list-item a img, header nav .list-navegation .list-item-now a img, header nav .list-navegation .list-item span img{
    width: 1.5vw;
    transition: 0.3s linear;
}

header nav .list-navegation .list-item-now a{
    color: var(--dark-pink);
    font-weight: bold;
}

header nav .list-navegation .list-item a:hover, header nav .list-navegation .list-item span:hover{
    color: var(--dark-pink);
}

.icon{
    font-size: 1.3vw;
}

header nav .list-navegation .list-item a:hover h4, header nav .list-navegation .list-item-now h4, header nav .list-navegation .list-item span:hover h4{
    font-weight: 600;
    color: var(--dark-pink);
}

header nav .copyright{
    width: 100%;
    font-family: 'Poppins';
    text-align: center;
    opacity: 0.75;
}

header nav .copyright .copyright-title, header nav .copyright .copyright-title a{
    margin-top: 2vh;
    font-size: 1vw;
    font-weight: 700;
}

header nav .copyright .copyright-title{
    color: var(--dark-pink)
}

header nav .copyright .copyright-title a{
    color: var(--pink);
    transition: 0.3s ease-out;
}

header nav .copyright .copyright-title a:hover{
    text-decoration: underline;
}

main{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    background-color: rgba(255, 255, 255, 0.1);
}

main .home{
    width: 100%;
    display: flex;
    justify-content: center;
}

main .home .content{
    margin-top: 10vh;
    width: 85%;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

main .home .content .categories{
    margin: 0 auto;
    width: 85%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main .home .content .categories .card-category{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
}

main .home .content .categories .card-category .icon{
    background: linear-gradient(113.35deg, rgba(255, 94, 129, 0.3) 0%, rgba(255, 207, 218, 0.3) 100%);
    width: 11vw;
    height: 11vw;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 100vh;
    transition: 0.5s all linear;
}

main .home .content .categories .card-category .icon:hover{
    background-color: var(--light-pink);
}

main .home .content .categories .card-category .icon .background{
    width: 20%;
    height: 100%;
    background-size: cover;
    background-position: -10%;
    margin-left: -1%;
    background-image: url('./../../assets/vector-icon-category.svg');
}

main .home .content .categories .card-category .icon img{
    width: 7vw;
}

main .home .content .categories .card-category h5{
    font-size: 1.3vw;
    font-family: 'Arvo';
    font-weight: bold;
    text-align: center;
    color: var(--dark-pink);
    text-shadow: 0px 4px 4px var(--dark-pink-15);
}

main .recents{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

main .recents .content{
    margin-top: 10vh;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 3vh;
}

main .recents .content .post{
    width: 100%;
    height: 61vh;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

main .recents .content .post .image{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .recents .content .post .image img{
    width: 21vw;
    height: 23vw;
    border: 2px solid var(--pink-25);
    border-radius: 6vw;
    box-sizing: border-box;
    box-shadow: -25px 25px 15px var(--pink-25);
}

main .recents .content .post .post-informations{
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 3vh;
}

main .recents .content .post .post-informations .post-texts{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main .recents .content .post .post-informations .post-texts .post-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1vh;
}

main .recents .content .post .post-informations .post-texts .post-title h3{
    color: var(--pink);
    font-family: 'Arvo';
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1vw;
    -webkit-text-stroke: 0.5px var(--pink);
    transition: 0.3s ease-out;

}

main .recents .content .post .post-informations .post-texts .post-title h2{
    color: var(--dark-pink);
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.5vw;
    text-shadow: 0px 4px 4px var(--dark-pink-15);
    transition: 0.3s all linear;
}

main .recents .content .post .post-informations .post-texts .post-subtitle h4{
    color: var(--pink);
    font-family: 'Sofia';
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 1.3vw;
    -webkit-text-stroke: 0.5px var(--pink);
    transition: 0.3s all linear;
}

main .recents .content .post .post-informations .post-description, main .recents .content .post .post-description b{
    width: 95%;
    color: var(--text-info);
    font-family: 'Poppins';
    font-size: 1.1vw;
    text-align: justify;
    line-height: 4vh;
    transition: 0.3s ALL linear;

}

main .recents .content .post .card-category .icon img{
    width: 6.5vw;
}

main .recents .content .post .card-category h5{
    font-size: 1.1vw;
    font-family: 'Arvo';
    font-weight: bold;
    text-align: center;
    color: var(--dark-pink);
    border: 3px solid var(--dark-pink-50);
    text-shadow: 0px 4px 4px var(--dark-pink-15);
}

.btn-stroke {
    background-color: transparent;
    cursor: pointer;
    color: var(--pink);
    width: 7.5vw;
    height: 5vh;
    border: 0.2vw solid var(--pink);
    border-radius: 100vw;
    font-size: 1vw;
    box-shadow: 0px 7px 4px var(--pink-25);
    transition: all 0.3s ease-in;
}

.btn-stroke:hover {
    background-color: var(--pink);
    color: var(--text-button);
}

.btn-background {
    cursor: pointer;
    background-color: var(--pink);
    color: var(--text-button);
    width: 12vw;
    height: 7vh;
    border: 0.2vw solid var(--pink);
    border-radius: 100vw;
    font-family: 'Arvo';
    font-size: 1.1vw;
    box-shadow: 0px 7px 4px var(--pink-25);
    transition: 0.3s ease-in;
}

 .btn-background:hover {
    background-color: transparent;
    color: var(--pink);
    border-radius: 100vw;
}

.balls{
    margin: 0 auto;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.title{
    width: 100%;
    font-size: 2.5vw;
    color: var(--pink);
    letter-spacing: 0.05rem;
    -webkit-text-stroke: 0.5px var(--pink);
    text-shadow: 0px 7px 7px var(--pink-25);
}

.ball{
    cursor: pointer;
    width: 0.85vw;
    height: 0.85vw;
    border: 1.5px solid var(--pink-50);
    border-radius: 100px;
    background-color: var(--pink-25);
    transition: 0.6s linear;
}

.ball:hover{
    background-color: var(--pink);
}

.ball-now{
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
    border: 1px solid var(--pink);
    border-radius: 100px;
    background-color: var(--pink);
}

a{
    text-decoration: none;
}